[submodule "dpp-command-handler"]
	path = dpp-command-handler
	url = https://github.com/BowDown097/dpp-command-handler
[submodule "dpp-interactive"]
	path = dpp-interactive
	url = https://github.com/BowDown097/dpp-interactive
